{% extends 'company/base.html' %}

{% block title %} About us {% endblock title %}

{% block content %}

<center>
    <h1>เกี่ยวกับเรา</h1>
    <img src="https://res.cloudinary.com/cenergy-innovation-limited-head-office/image/fetch/c_scale,q_70,f_auto,h_740/https://d1dtruvuor2iuy.cloudfront.net/media/catalog/product/i/p/iphone_13_pro_color_graphite_1__2.jpg"
        width="300">

    <p>เว็บไซค์ของผมเกี่ยวกับการฝึกใช้งาน Django นะคับ</p>
    <p>เป้นการเชื่อมโยงความสัมพันธ์ของ file ต่างๆเพื่อให้มีความเข้าใจ structure มากขึ้นจ้า</p>
</center>




{% endblock content %}