{% extends 'company/base.html' %}

{% block title %} สวัสดีคับ welcome to Q Land {% endblock title %}

{% load static %}

{% block content %}
<!-- ตรงชื่อ content มันเปลี่ยนได้ตามใจเราเลยนะ ขึ้นกับว่าจะเป็น content อะไร -->

<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
  <h1 class="display-4 fw-normal">โปรโมชั่นพิเศษ</h1>
  <p class="fs-5 text-muted">ตอนนี้มี iphone 13 มาใหม่ หากซื้อวันนี้จะได้รับส่วนลดทันที 20%</p>
</div>

<a href= "{% static 'atthana.py' %}">Download atthana.py</a><br>

<img src="{% static 'image/iphone14.png' %}" alt="My image">

<center>
  {% for product in allproduct %}
    <h3>{{product.title}}</h3>
    <p>
      รายละเอียด: {{product.description}}<br>
      ราคา: {{product.price}} บาท<br>
      เหลือในสต๊อก: {{product.quantity}} เครื่อง<br><br>
    </p>
    <hr>
  {% endfor %}
</center>

<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">iPhone 13 Pro Max</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">23,500<small class="text-muted fw-light">บาท</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>10 users included</li>
          <li>2 GB of storage</li>
          <li>Email support</li>
          <li>Help center access</li>
        </ul>
        <button type="button" class="w-100 btn btn-lg btn-outline-primary">สั่งซื้อ</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">iPhone 13 Pro</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">21,500<small class="text-muted fw-light">บาท</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>20 users included</li>
          <li>10 GB of storage</li>
          <li>Priority email support</li>
          <li>Help center access</li>
        </ul>
        <button type="button" class="w-100 btn btn-lg btn-primary">สั่งซื้อ</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm border-primary">
      <div class="card-header py-3 text-white bg-primary border-primary">
        <h4 class="my-0 fw-normal">iPhone 13</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">19,500<small class="text-muted fw-light">บาท</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>30 users included</li>
          <li>15 GB of storage</li>
          <li>Phone and email support</li>
          <li>Help center access</li>
        </ul>
        <button type="button" class="w-100 btn btn-lg btn-primary">สั่งซื้อ</button>
      </div>
    </div>
  </div>
</div>

{% endblock content %}